@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Charmonman|Galada|Oswald|Playfair+Display|Roboto+Condensed|Slabo+13px|Slabo+27px|Sofia');



.col-sm-4{
    background-image: url("IMG_20181013_230821_573.jpg");
    background-size: cover;
    text-align: center;
    color: rgb(0,48,48);
    font-family: 'Oswald';
    font-size: 24px;
}

.col-sm-8{
	background-color: rgb(0,48,48);
	color: white;
	text-align: center;
	font-family: 'Oswald';
}

.skills {
  text-align: right;
 padding-left: 10px;
  color: white;
}

.html {width: 60%; background-color: #4CAF50;}
.css {width: 60%; background-color: #2196F3;}
.js {width: 45%; background-color: #f44336;}
.py {width: 40%; background-color: #808080;}

